[Desktop Entry]
Name=Symphonie
Comment=A simple local music player built with Electron
Exec=symphonie
Terminal=false
Type=Application
Icon=io.github.kprakesh1984.Symphonie
StartupWMClass=symphonie
Categories=Audio;Music;Player;
